name: Node CI
on:
  push:
    branches:
      - master
  pull_request:
    branches: [ master ]  
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20 
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run Lint
        run: npm run lint

  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20 
          cache: npm

      - name: Install dependencies
        run: npm ci        
      - name: Run Tests
        run: npm run test
  Security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20 
          cache: npm

      - name: Install dependencies
        run: npm ci  
      
      - name: Validate Contenido
        run: ls -la
      
      - name: Pre-configuration
        run: |

          cat .git/HEAD
          cat .git/config
          echo "Ultimo commit - Autor - correo - fecha"
          git log
          echo "Validar de donde Viene Repositorio:"
          git remote -v
          echo "Pre-validation:"
          git log --format="%an <%ae>" | sort | uniq

          echo "Clean Repository"
          rm -rf .git .gitignore
          ls -la
          git init
          git remote add origin https://dev.azure.com/BancoPichinchaEC/arq-framework/_git/frm-msa-chapter-community
          git config user.email "saguevar@pichincha.com"
          git config user.name "GUEVARA LOPEZ SALOMON DARIO"
          git add .
          git commit -m "Update Project"
          ls -la
          echo "Pre-validation:"
          git log
          echo "Validate Repo origin:"
          git remote -v
          

      
